.element__like-button_active {
  width: 22px;
  height: 19px;
  background: transparent url('../../../../images/element__like_active.svg') 0 0 no-repeat;
  background-size: cover;
  border: none;
  line-height: 0;
  cursor: pointer;
}

.element__like-button:hover {
  opacity: .5;
}