.element__btn-trash {
  position: absolute;
  background-image: url('../../../images/Vector_TrashBox.svg');
  transition: opacity .3s ease-in-out;
  top: 20px;
  right: 20px;
  width: 18px;
  height: 19px;
  font-size: 0; /* Скрываем текст */
  border: none;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  background-color: unset;
}

.element__btn-trash:hover {
  opacity: .8;
}
