.photo-grid__like {
  transition: opacity .3s ease-in-out;
  margin-right: 21px;
  width: 26px;
  height: 19px;
  background: url('../../../images/Vector_Photo-grid_Like.svg');
  font-size: 0; /* Скрываем текст */
  border: none;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
}

.photo-grid__like:hover {
  opacity: .8;
}